src/main/resources/site_map/FunctionType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="Function"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  xmlns:func="FunctionEnum"
  >
      
  <xs:import 
    schemaLocation="FunctionEnum.xsd" 
    namespace="FunctionEnum"/>
          
  <xs:complexType name = "FunctionType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="isDefaultPass" type="xs:boolean" default="false" />
    <xs:attribute name="type" type="func:FuncEnum" />
    <xs:attribute name="subtype" type="xs:string" default="none" />              
  </xs:complexType>
    
</xs:schema>