src/main/resources/site_map/Info2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  
  targetNamespace="com.sitemapper.info"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
          
  <xs:complexType name="Info">
    <xs:all>
      <xs:element name="Author" type="xs:string"/>
      <xs:element name="Version" type="xs:string"/>
      <xs:element name="CreationMethod" type="xs:string"/>
      <xs:element name="RootDir" type="xs:string"/>
      <xs:element name="ParentPackage" type="xs:string"/>
      <xs:element name="ElementLibrary" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  
</xs:schema>