src/main/resources/xsd/element/ElementDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
   targetNamespace="com.sitemapper.element.details"
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified">
        
    <xs:complexType name="ElementDetails">
      <xs:attribute name="Type" type="xs:string" /> 
      <xs:attribute name="Name" type="xs:string" />
      <xs:attribute name="Text" type="xs:string" />
    </xs:complexType>

</xs:schema>